*{
    box-sizing: border box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #020A19;
}
body button{
    background-color:#3DA4FD;
    color: #020A19;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}
body button:hover{
    cursor: pointer;
}

h1{ font-size: 3em; color: rgb(240, 240, 240);}
h2{ font-size: 2.5em; color:#3DA4FD;}
h3{ font-size: 1.5em; color: rgb(240, 240, 240);}
p{ font: 1.25em; color: rgb(240, 240, 240);}

.container{
    max-width: 1400px;
    margin: auto;
}

nav{
    background: #020A19;
    height: 80px;
    width: 100%;
    position: fixed;
}
.enlace{
    position: absolute;
    padding: 20px 50px;
}
#logo{
    font-size: 2em;
    padding-left: 20px;
}
nav ul{
    /*float: right;
    margin-right: 20px;*/
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(11, 15, 85, 0.9);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
}
nav ul li{
   /* display: inline-block;
   margin: 0 5px;
   line-height: 80px;*/
   
    display: block;
    margin: 50px 0;
    line-height: 30px;  
}
header a{
    /*font-size: 18px;*/
    font-size: 20px;
    font-weight: bold;
    color: #3DA4FD;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
header a:hover{
    color:rgb(25, 25, 150);
}
.checkbtn{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: block;
}
#check{
    display: none;
}
#check:checked ~ul{
    left: 0;
}
#Banner{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 95vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 12px;
}
#Banner h2{
    color: rgb(240, 240, 240);
}

#Sobre-mi .container{
    text-align: center;
    padding: 200px 12px;

}

#Habilidades i{
    color: #fff;
    font-size: 3em;
    margin-top: 25px 
}

#Habilidades{
    text-align: center;
    padding: 200px 12px;
}

#Habilidades .container{
    display: flex;
    justify-content: center;
    flex-direction: column; 
}

#Habilidades h3{
    margin: 12px;
}

#Proyectos .container{
    text-align: center;
    padding: 200px 12px;
}
#Proyectos h3{
    margin-top: 60px;
}

.hide{
    display: none;
}
.show{
    display: block;
}

#Formacion .container{
    text-align: center;
    padding: 200px 12px;
}
#Formacion h3{
    margin-top: 60px;
}

footer .container{
    text-align: center;
}

form{
    width: 90vw;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 10px;
    
}

input, textarea{
    width: 100%;
    margin-top: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
    background-color: rgba(250,250,250,0.1);
    color: #fff; 
    border-radius: 5px; 
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#botonContacto{
    background-color:#3DA4FD;
    color: #020A19;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}
#botonContacto:hover{
    cursor: pointer;
}

footer i {
    color: #fff;
    font-size: 3em;
    margin: 12px;
}

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }
    .enlace{
        padding-left: 20px;
    }
    nav ul{
        float: right;
        margin-right: 20px;
        width: 100%;
        height: 100vh;
        background: none;
        top: 0px;
        left: 0;
        text-align: right;
        transition: all 0.0s;
    }
    header a{
        font-size: 13px;
        padding: 7px 3px;
    }
    nav ul li{
        display: inline-block;
        margin-top: 0;
        margin-right: 20px;
        line-height: 80px;
          
     }
     #logo{
        font-size: 3em;
     }
    #Habilidades .container{
        flex-direction: row; 
    }
    .checkbtn{
        display: none;
    }
}


