*{
    box-sizing: border box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #171717;

}

h1{ font-size: 3em; color: rgb(240, 240, 240);}
h2{ font-size: 2.5em; color:rgb(25, 25, 150);}
h3{ font-size: 1.5em; color: rgb(240, 240, 240);}
p{ font: 1.25em; color: rgb(240, 240, 240);}

.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: rgb(7,7,7);
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px, 30px;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px;
}

header a{
    font-size: 1.25em;
    padding: 5px;
    text-decoration: none;
    font-weight: bold;
    color: azure;
}
header a:hover{
    color:rgb(25, 25, 150);
}

#Banner{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 12px;
}
#Banner h2{
    color: rgb(240, 240, 240);
}

#Sobre-mi .container{
    text-align: center;
    padding: 200px 12px;

}

#Habilidades .container{
    text-align: center;
    padding: 200px 12px;
}

#Proyectos .container{
    text-align: center;
    padding: 200px 12px;
}
#Proyectos h3{
    margin-top: 60px;
}

#Formacion .container{
    text-align: center;
    padding: 200px 12px;
}
#Formacion h3{
    margin-top: 60px;
}

footer .container{
    text-align: center;
}

form{
    width: 90vw;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
}

input, textarea{
    width: 100%;
    margin-top: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
    background-color: rgba(50,50,50,0.5)
}

textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton{
    background-color:rgb(25, 25, 150);
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

#boton:hover{
    cursor: pointer;
}


